@font-face {
	font-family: 'gotham';
	src: url('../fonts/Gotham.eot');
	src: url('../fonts/Gotham.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Gotham.ttf') format('truetype'),
		 url('../fonts/Gotham.woff') format('woff'),
		 url('../fonts/Gotham.woff2') format('woff2');
}

* {
	font-family: gotham;
}

body {
	background: url('../ico/background.png');
}

header {
	position: relative;
	background: #F00000;
}

#logo {
	background: url('../ico/logo-143x40.png') no-repeat;
	background-size: cover;
	width: 143px;
	height: 40px;
	font-size: 0;
	position: absolute;
	top: 0.5rem;
	left: calc(50% - 71.5px);
}

nav .nav-link {
	color: #F0F0F0;
}

nav .nav-link:hover {
	color: #F0F0F0;
	text-decoration: underline;
}

.navbar-toggler-icon {
	background: url('../ico/menu.png');
}

nav .navbar-toggler:focus {
	box-shadow: none;
}

ul {
	list-style-type: none;
}

main {
	padding-top: 2em;
	background: #F00000;
	color: #F0F0F0;
}

footer {
	padding: 3em 0;
	background: #F00000;
	color: #F0F0F0;
}